/*
 * -------------------------------------------------
 *  SteadyFlow Nextflow RNA-seq config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

// Global default params, used in configs
params {

  version = "1.1" // Pipeline version
  container = 'skptic/steadyflow:latest' // Container slug. Stable releases should specify release tag!
  nf_required_version = '0.30.0' // Minimum version of nextflow required
  
// Input arguments    
  reads = "data/*{R1,R2}*.fastq"
  fastqs = false
  sras = false
    
// Run arguments
  workdir = false
  clusterOptions = false
  count = false
  flip = false
  flipR2 = false
  email=false
  help = false
  igenomes_base = "./iGenomes"
  nf_required_version = nf_required_version
  outdir = './results'  
  singleEnd = false
  saveAllfq = false
  savefq = false
  saveTrim = false
  savebw = false
  savebg = false    
  skipBAM = false
  skipMultiQC = false
  skipRSeQC = false
  threadfqdump = false
  version = version    
}

profiles {

  standard {
    includeConfig 'conf/base.config'
  }
  conda { process.conda = "$baseDir/environment.yml" }
  docker { docker.enabled = true }
  singularity { singularity.enabled = true }
  aws {
    includeConfig 'conf/base.config'
    includeConfig 'conf/aws.config'
    includeConfig 'conf/igenomes.config'
  }
  test {
    includeConfig 'conf/base.config'
    includeConfig 'conf/test.config'
  }
  paper {
    includeConfig 'conf/base.config'
    includeConfig 'conf/paper.config'
  }
  batch {
    workDir = 's3://cbcrg-eu/work'
    process.executor = 'awsbatch'
    process.queue = 'demo'
    executor.awscli = '/home/ec2-user/miniconda/bin/aws'
    aws.region = 'eu-west-1'
  }
  slurm {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/slurm.config'
  }
  slurm_grch38 {
    workDir = params.workdir
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/slurm_grch38.config'
  }
  minimal {
    process.executor = 'slurm'
    process.queue = 'short'
    includeConfig 'conf/base.config'
    includeConfig 'conf/minimal.config'
  }
  none {
    // Don't load any config (for use with custom home configs)
  }

}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
    file = "${params.outdir}/pipeline_info/steadystate_pipeline_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/steadystate_pipeline_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/steadystate_pipeline_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/steadystate_pipeline_dag.svg"
}

manifest {
  homePage = 'https://github.com/Dowell-Lab/RNAseq-Flow'
  description = 'This pipeline processes RNA-seq (steady-state) transcription datasets using Nextflow'
  mainScript = 'main.nf'
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
