/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

/* Will run data as paired-end by default. A minimum usage example is as follows:
 *       nextflow run main.nf  -profile fiji
 * Enter nextflow run main.nf -profile fiji --help for more aguments
 */

params {
  // hg38 Genome Reference Files
  genome = "/scratch/Shares/dowell/genomes/hg38/hg38.fa"
  hisat2_indices = "/scratch/Shares/dowell/genomes/hg38/HISAT2/genome"
  genome_refseq = "/scratch/Shares/dowell/genomes/hg38/hg38_refseq.bed"
  chrom_sizes = "/scratch/Shares/dowell/genomes/hg38/hg38.chrom.sizes"
}

//params {
//  // mm10 Genome Reference Files
//  genome = "/scratch/Shares/dowell/nascent/mm10/mm10.fa"
//  hisat2_indices = "/scratch/Shares/dowell/nascent/mm10/HISAT2/genome"
//  genome_refseq = "/scratch/Shares/dowell/nascent/mm10/mm10_refseq.bed"
//  chrom_sizes = "/scratch/Shares/dowell/nascent/mm10/mm10.chrom.sizes"
//}
